.example-form {
  width: 100%;
}

.example-full-width {
  width: 40%;
}

#container{
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 500px;
}